body{
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
}
button{

    padding: .9em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: none transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
    max-width: 100%;
}
div{
  display: contents;
}
.Read{
  display: grid;
}
img{
  max-height: 282px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
video{
  max-width: 300px;
  max-height: 282px;
}
h1{
  font-size: 2em;
  display: inline;
}
#imgicon{
  max-width: 50px;
  margin: 0;
  display: inline;
}
